/* ========================================================================= //
//  PORTFOLIO
// ========================================================================= */

#portfolio {
  background-color: var(--even-color);
}

.btn-outline-black {
  background-color: transparent!important;
  color: rgb(109, 109, 109)!important;
  padding: 0.2rem 0.5rem;
  margin: auto 10px;
}

.btn-outline-black:hover, .btn-outline-black:focus, .mixitup-control-active,
.btn-outline-black:active, .btn-outline-black:active:focus, .btn-outline-black.active {
  background-color: rgb(76, 214, 117)!important;
  color: white !important;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .16), 0 10px 20px 0 rgba(0, 0, 0, .12) !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^=col-], .row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#gallery img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  transition: .2s ease-in-out;
}

#gallery img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
