/* ========================================================================= //
//  TESTIMONIAL
// ========================================================================= */

#testimonial {
    background: #58a554;
    color: white;
    padding: 40px 0 60px 0;
  }
  
  .testimonial-carousel .testimonial {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1000px;
  }
  
  .testimonial-carousel .testimonial p {
    font-size: 14px;
  }
  
  .testimonial-carousel .carousel-indicators {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  
  .testimonial-carousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    margin: 0 8px;
    background: transparent;
    border: 1px solid white;
  }
  
  .testimonial-carousel .carousel-indicators li:hover, .testimonial-carousel .carousel-indicators li.active {
    background: white;
  }