<!-- BLOG -->
<section id="blog">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" id="blogLink">Blog</h2>
        <h3 class="section-subheading text-muted">Be a part of my adventure!</h3>
      </div>
    </div>

    <div class="main-carousel"
      data-flickity='{ "cellAlign":"center", "contain":"true", "wrapAround":"true", "autoPlay":"true"}'>

      <div *ngFor="let blog of blogs" class="carousel-cell">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/posts/img/{{blog.post}}_400.jpg">
          <div class="card-body">
            <h4 class="card-title">{{blog.title}}</h4>
            <p>{{blog.dest}}</p>
            <p class="card-text">{{blog.text | truncate}}...</p>
            <a class="btn btn-success btn-xl text-uppercase blogButton" data-iframe="true"
              attr.data-src="assets/posts/{{blog.post}}.html">Read more</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>