/* You can add global styles to this file, and also import other style files */

@import "assets/css/themeFont.css";
/* ========================================================================= //
//  OVERALL
// ========================================================================= */

/* latin-ext */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {
  height: 100%;
  margin: 0px;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --odd-color: rgb(250, 248, 245)!important;
  --even-color: #f3f3f3!important;
}

::-moz-selection {
  background: #96e482;
  text-shadow: none;
}

::selection {
  background: #96e482;
  text-shadow: none;
}

.hiding {
  opacity: 0;
}

.showing {
  opacity: 1;
}

.btn-success {
  background-color: #74b172;
  border-color: #377e35;
  color: white!important;
  border-radius: 0;
  transition: background-color 0.5s ease;
}

.btn-success:active, .btn-success:focus, .btn-success:hover {
  background-color: #5dc059 !important;
  border-color: #5dc059 !important;
  color: white;
}

.btn-success:active, .btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 180, 63, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(10, 160, 22, 0.5) !important;
}

section {
  padding: 50px 0;
  line-height: 15pt;
}

section h2.section-heading {
  font-size: 40px;
  padding-top: 50px;
  margin-bottom: 15px;
  color: #5cad36;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2rem;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.flickity-viewport {
  min-height: 520px!important;
}

.flickity-page-dots .dot {
  height: 5px!important;
  width: 40px!important;
  margin: 0!important;
  border-radius: 0!important;
}

@media (max-width: 770px) {
  .flickity-page-dots {
    display: none;
  }
}

.footer-bottom {
  background-color: #f1efe9;
  padding: 10px 0px 5px 0px;
  border-top: 1px solid #e5e5e5;
}