/* ========================================================================= //
//  CONTACT
// ========================================================================= */

#contact {
  background-color: #f1efe9;
  padding: 0px 0px 50px 0px;
}

#contactForm {
  color: #305896;
}

#contactForm .form-control {
  border-radius: 0;
}
