#vlightbox6 {
	width:100%;
	zoom:1;	
}
#vlightbox6 .vlightbox6 {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	vertical-align:top;
	margin:5px;
	
	font-family:Trebuchet,Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	opacity:0.87;
	outline:none;
}
#vlightbox6 .vlightbox6 a{
	margin:0;
}
#vlightbox6 .vlightbox6:hover, #vlightbox6 .vlightbox6 a:hover{
	text-decoration:underline;
	opacity:1;
}
#vlightbox6 .vlightbox6 img{
	display:block;
	border:none;
	margin:0;
}
#vlightbox6 .vlightbox6 div {display:none}
