#vlightbox7 {
	width:100%;
	zoom:1;	
}
#vlightbox7 .vlightbox7 {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	vertical-align:top;
	width:160px;
	margin:5px;
	padding:6px;	
	border:solid 1px #b8b8b8;	
	background-color:#f4f5f5;
	font-family:Trebuchet,Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	opacity:0.87;
	outline:none;
}
#vlightbox7 .vlightbox7 a{
	margin:0;
	padding:0;
	border:none;
}
#vlightbox7 .vlightbox7:hover, #vlightbox7 .vlightbox7 a:hover{
	opacity:1;
}
#vlightbox7 .vlightbox7 img{
	display:block;
	border:none;
	margin:0;
}
#vlightbox7 .vlightbox7 div {display:none}
